.o-add-movie__form-buttons {
    display: flex;
    justify-content: flex-end;
}

.o-add-movie__form-buttons .a-btn {
    width: 180px;
}

.o-add-movie__form-buttons .a-btn:last-child {
    margin-left: 16px;
}

.o-add-movie__form-inputs-wr {
    display: flex;
}

.o-add-movie__form-inputs-left-col {
    display: flex;
    flex-basis: 70%;
    flex-direction: column;
    margin-right: 24px;
}

.o-add-movie__form-inputs-right-col {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
}

.o-add-movie__form .a-input-wr {
    margin-bottom: 32px;
}